.bgimg-boise {
    background-image: url(National_Forest_Idaho.jpg);
    background-size: cover;
}

.bg-blk {
    background-color: black;
}

.bg-grop {
    background-color: rgba(153, 205, 50, 0.637);
}

.bg-ygrn {
    background-color: green;
}

.bg-grn {
    background: radial-gradient(green, green, yellowgreen);
}

.wt-1 {
    color: white;
}

.rowheight {
    height: 100vh;
}

.rowheight-88 {
    height: 88vh;
}

.rowheight-80 {
    height: 80vh;
}

.rowheight-53 {
    height: 53vh
}

.rowheight-29 {
    height: 29vh;
}

.rowheight-20 {
    height: 20vh;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-around {
    display: flex;
    justify-content: space-around;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.nb-1 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
}

.img-br {
    border-radius: 50%;
}

.imgsize {
    size: 10rem;
}

.padding-100 {
    padding: 100pt;
}

.paddingtop-10 {
    padding-top: 10pt
}

.ab-1 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 50pt;
    border-top-right-radius: 50pt;
    border-color: white;
    width: 115pt;
}

.button-g {
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50pt;
}

.html-size-adjust {
    size: 100pt
}

.list-style {
    list-style: none;
}